<div class="container">
    <div class="myContent">
        <nav class="navbar myNav"></nav>
        <div class="row">
            <img src="../../assets/icons/profile.png" class="rounded-circle myImg " alt="">
            <div class="myInformation">
                <div class="row">
                    <h3>{{user.name}}</h3>
                </div>
                <div class="row">
                    <h3>{{user.phone}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="myIcon">
                <img class="MyImg" src="../../assets/icons/phone.png" alt="">
                <img class="MyImg" src="../../assets/icons/skype.png" alt="">
                <img class="MyImg" src="../../assets/icons/mail.png" alt="">
            </div>
        </div>

    </div>
</div>